body {
  width:100vw;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.is-hidden {
  display:none;
}

.media {
  display:flex;
  flex-direction: column;
  overflow-x:auto;
  max-height:200px;
}
.media ul {
  display:flex;
  flex-wrap:wrap;
}
.media li {
  list-style: none;
}
.mediali {
  display:block;
  background-size:cover;
  width:5em; height:5em;
  overflow:none;
  cursor:pointer;
}
.backdrop {
  z-index:90 !important;
}
.topbar {
  background:hsl(160,50%,50%);
  color:hsl(160,50%,100%);
  display:flex;
}
.loading {
 
}
.chip-tagwith::before { content: " +"; }
.chip-tagtotal::before { content: " *"; }