body {
  width:100vw;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiPaper-elevation1 { margin-bottom:0.3em; }

.App-link {
  color: #61dafb;
}

.is-hidden {
  display:none;
}

.media {
  display:flex;
  flex-direction: column;
  overflow-x:auto;
  max-height:200px;
}
.media ul {
  display:flex;
  flex-wrap:wrap;
}
.media li {
  list-style: none;
  overflow:hidden;
  margin:1px;
  text-align:left;
  width:5em; height:5em;
}
.media li .tile {
  transition:box-shadow 0.2s;
  padding:10px;
  box-sizing:border-box;
  width:100%; height:100%; overflow:hidden;
  font:10px Verdana;
}
.media li .tile .txt {
  color:black;
  text-decoration:none;
}
.backdrop {
  z-index:90 !important;
}
.topbar {
  Zbackground:hsl(160,50%,50%);
  color:hsl(160,50%,100%);
  display:flex;
}
.loading {
 
}

.tokendialog {
  padding:1em;
}
.chip-tagwith::before { content: " +"; }
.chip-tagtotal::before { content: " *"; }
.chip-toggle { vertical-align: "inherit"; margin-left: "8px"; margin-right: "-4px"; width:2em; }
.chip-toggle.add { background-color:#080 !important; color:#afa; }
.chip-toggle.del { background-color:#800 !important; color:#faa; }
.chip-common { vertical-align: "inherit"; margin-left: "8px"; margin-right: "-4px"; background-color: "rgba(0,0,0,15%)"; }

.selectedtags.norm { }

.selectedtags .header.zero { background-color:white; color:black; }
.selectedtags .header.norm { background-color:white; color:black; }
.selectedtags .header.full { background-color:#dfd; color:black; }
.selectedtags .header.over { background-color:#a00; color:white; }

.MuiChip-deleteIcon.green {
  transform:rotate(45deg);
  Zcolor:hsla(120,100%,30%,75%);
  transition:transform 0.5s;
}
.MuiChip-deleteIcon.green:hover {
  Zcolor:hsla(120,60%,50%,75%);
}
.MuiChip-deleteIcon.red {
  Zcolor:hsla(0,100%,30%,75%);
  transition:transform 0.5s;
}
.MuiChip-deleteIcon.red:hover {
  Zcolor:hsla(0,60%,50%,75%);
}